<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserCouponMapper">

    <insert id="insert" parameterType="com.example.entity.UserCoupon">
        insert into user_coupon(user_id, coupon_id, is_used, get_time, use_time)
        values (#{userId}, #{couponId}, #{isUsed}, #{getTime}, #{useTime})
    </insert>

    <update id="updateById" parameterType="com.example.entity.UserCoupon">
        update user_coupon set user_id = #{userId}, coupon_id = #{couponId}, is_used = #{isUsed}, 
        get_time = #{getTime}, use_time = #{useTime}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user_coupon where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.UserCoupon">
        select uc.*, u.name as userName, c.name as couponName, c.discount as discount
        from user_coupon uc
        left join user u on uc.user_id = u.id
        left join coupon c on uc.coupon_id = c.id
        <where>
            <if test="userId != null">and uc.user_id = #{userId}</if>
            <if test="couponId != null">and uc.coupon_id = #{couponId}</if>
            <if test="isUsed != null">and uc.is_used = #{isUsed}</if>
        </where>
        order by uc.get_time desc
    </select>

</mapper>
