<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HallMapper">

    <insert id="insert" parameterType="com.example.entity.Hall" useGeneratedKeys="true" keyProperty="id">
        insert into hall(name, row_count, column_count)
        values (#{name}, #{rowCount}, #{columnCount})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Hall">
        update hall set name = #{name}, row_count = #{rowCount}, column_count = #{columnCount}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from hall where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Hall">
        select * from hall
        <where>
            <if test="name != null">and name like concat('%', #{name}, '%')</if>
        </where>
        order by id desc
    </select>

</mapper>
