<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ScreeningMapper">

    <insert id="insert" parameterType="com.example.entity.Screening">
        insert into screening(film_id, hall_id, start_time, end_time, price)
        values (#{filmId}, #{hallId}, #{startTime}, #{endTime}, #{price})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Screening">
        update screening set film_id = #{filmId}, hall_id = #{hallId}, start_time = #{startTime}, 
        end_time = #{endTime}, price = #{price}
        where id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from screening where id = #{id}
    </delete>

    <select id="selectAll" resultType="com.example.entity.Screening">
        select screening.*, film.name as filmName, hall.name as hallName from screening
        left join film on screening.film_id = film.id
        left join hall on screening.hall_id = hall.id
        <where>
            <if test="filmId != null">and screening.film_id = #{filmId}</if>
            <if test="hallId != null">and screening.hall_id = #{hallId}</if>
        </where>
        order by screening.start_time desc
    </select>

</mapper>
